<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal | Home</title>
        <link rel="stylesheet" href="styles/home.css">
        <link rel="stylesheet" href="styles/common.css">
        
    </head>

    <body>
        <header>
            <h1 class="logo">reveal</h1>
                   
        </header>
        <section class="settings sky">
        	<div class="profilebuttons">
           		<button class="logmeout">Logout</button>
            </div>
        </section>
        <section class="content">
            <div class="writepost" id = "writepost">
                <textarea class = "postwriter body-mid" name="post postContent" placeholder="Heard Something&quest;"></textarea>
                <button class="postwriter post-post">reveal</button>
            </div>
            
            <section class="posts" id="posts">
               <!-- 
                    ****
                    ****
                    * THIS IS HOW THE STRUCTURE LOOKS LIKE
                    * I HAVE CODED JS REFERRING THE BELOW STRUCTURE.
                    *****
                    *****
                <div class="individualPost ">
                    <div class="post-content body-mid">
                       
                            I’ve personally never heard of companies who can produce a paper for you until word got around among my college groupmates. My professor asked me to write a research paper based on a field I have no idea about. My research skills are also very poor. So, I thought I’d give it a try. I chose a writer who matched my writing style and fulfilled every requirement I proposed. I turned my paper in and I actually got a good grade. I highly recommend ⇒ www.WritePaper.info ⇐
                            <br>Very nice tips on this. In case you need help on any kind of academic writing visit website ⇒ www.HelpWriting.net ⇐ and place your order
                        
                        <~~!   Nested comment
                            The actual post content comes here
                        ~~>
                    </div>
                    <div class="opinion" id='opinion'>
                        <div class="count-like-dislike">
                            <span class="like"><i style='font-size:16px' class='far'>&#xf256;</i>  <span class="like-count">200</span></span>
                            <span class="dislike"><span class="dislike-count">30</span>  <i style='font-size:16px;color: red;' class='fas'>&#xf071;</i></span>
                        </div>
                        <div class="body-mid buttons" id = "buttons">
                            <button class="like opinion-button">Heard it <i style='font-size:16px' class='far'>&#xf256;</i></button>
                            <button class="dislike opinion-button">fake <i style='font-size:16px;color:red' class='fas'>&#xf071;</i></button>
                        </div>
                    </div>
                </div>  -->
                <div id="end">All Caught up for now!</div>              
            </section>
        </section>
        <script src='scripts/home.js'></script>
        <!--
            <script src='https://drive.google.com/uc?export=view&id=1J2F44MhjQ_lv4jlZhqVge4MA5fMUc7Ef'></script> -->
    </body>
</html>